<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Jewerly</title>

    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="./libs/three.js"></script>
    <script src="./libs/orbitControls.js"></script>
    <script src="./libs/OBJLoader.js"></script>
    <script src="./libs/Decal.js"></script>

    <!--draco-->
    <!--<script src="https://threejs.org/examples/js/loaders/DRACOLoader.js"></script>-->

    <script src="./libs/three/dat.gui.min.js"></script>
    <!--<script src="./libs/three/three.js"></script>-->
    <!--<script src="./libs/three/OrbitControls.js"></script>-->
    <!--<script src="./libs/three/OBJLoader.js"></script>-->
    <script src="./libs/three/EffectComposer.js"></script>
    <script src="./libs/three/RenderPass.js"></script>
    <script src="./libs/three/MaskPass.js"></script>
    <script src="./libs/three/ShaderPass.js"></script>
    <script src="./libs/three/FXAAShader.js"></script>
    <script src="./libs/three/CopyShader.js"></script>
    <script src="./libs/three/ConvolutionShader.js"></script>

    <script src="./libs/diamand/HDREnvTextureLoader.js"></script>
    <script src="./libs/diamand/DiamondLoader.js"></script>
    <script src="./libs/diamand/Sparkle.js"></script>
    <script src="./libs/diamand/Diamond.js"></script>
    <script src="./libs/diamand/MaterialLibrary.js"></script>
    <script src="./libs/diamand/LuminosityHighPassShader.js"></script>
    <script src="./libs/diamand/ConvolutionShader.js"></script>
    <script src="./libs/diamand/BloomPass.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

    <!--<script src="./libs/three/OutlinePass.js"></script>-->
    <!--<script src="./libs/three/WebGL.js"></script>-->
</head>
<body>

<div id="threeJS">
    <div class="alert" id="alert">
        <div>Please rotate your device to portrait orientation.</div>
    </div>

    <div class="preloader" id="preloader" style="">
        <div class="preloader-group">
            <img class="logo" src="<%= require('./src/assets/img/logo.png') %>">
            <img class="logo-text" src="<%= require('./src/assets/img/logo_text.png') %>">
        </div>
        <img class="loading" src="<%= require('./src/assets/img/loading.gif') %>">
        <div class="license">All Rights Reserved 2019 Giliarto</div>
    </div>

    <div class="header">
        <div class="size-block" id="size-block">
            <span id="finger-size">Size:</span>
        </div>
        <div id="price"></div>
        <div id="check-out">Check out</div>

        <div id="sizes-slider">
            <div class="swiper-wrapper" id="sizes">

            </div>
        </div>

    </div>

    <div id="size-guide-img" class="size-guide-img">
        <img class="size-guide-mob" src="<%= require('./src/assets/img/size-guid_mob.jpg') %>" alt="">
        <img class="size-guide-pc" src="<%= require('./src/assets/img/size-guid_pc.jpg') %>" alt="">

        <img id="size-guide-img-close" class="close-btn" src="<%= require('./src/assets/img/window-close.png') %>"
             alt="">
    </div>

    <div id="left-top-block" class="left-top-block">
        <div id="size-guide">Size Guide</div>
        <div id="hand">View on Hand</div>
        <div id="social">
            <img src="<%= require('./src/assets/img/share-alt.png') %>" alt="">
        </div>
        <div style="display:none" id='engraving'>A</div>
        <a class="homepage-link" href="https://www.giliarto.com/pages/clio">
            <img src="<%= require('./src/assets/img/home-page.png') %>" alt="">
        </a>
    </div>

    <div id="switcher">
        <img src="<%= require('./src/assets/img/switch.png') %>" alt="">
    </div>

    <div id="handModeExit">
        <img src="<%= require('./src/assets/img/window-close.png') %>" alt="">
    </div>

    <div class="social-icons" id="social-icons">
        <img id="close-social-modal" src="<%= require('./src/assets/img/window-close.png') %>" alt="">
        <img id="facebook-social" src="<%= require('./src/assets/img/facebook.svg') %>">
        <img id="twitter-social" src="<%= require('./src/assets/img/twitter.svg') %>">
        <div id="show-contact-modal">
            <img src="<%= require('./src/assets/img/mail.svg') %>">
            <span>Contact us</span>
        </div>
        <div id="copy-link">
            <img src="<%= require('./src/assets/img/sharing.svg') %>">
            <span>Copy Link</span>
        </div>

        <span id="url_copy">Url is copied</span>
    </div>

    <div class="slidecontainer" id="slider_container">
        <input type="range" min="1" max="8" value="1" class="slider" id="myRange">
    </div>

    <div class="contact-us-modal" id="contact-us-modal">
        <img id="close-contact-modal" src="<%= require('./src/assets/img/window-close.png') %>" alt="">
        <p>Contact us</p>
        <input id="email" name="email" placeholder="your_email@test.com" type="email">
        <input id="subject" name="subject" placeholder="Your subject..." type="text">
        <textarea id='message' name="message" placeholder="Your message..."></textarea>
        <button id="contact-us-btn">Send</button>
    </div>

    <div class="advise2">Customize your ring</div>

    <div class="parts-wrap">
        <div class="parts">
            <div class="swiper-wrapper" id="parts_container"></div>
        </div>
        <div id="p-p" class="swiper-button-prev"></div>
        <div id="n-p" class="swiper-button-next"></div>
    </div>

    <div class="wrap-materials-gem">
        <div class="materials_gem">
            <div class="swiper-wrapper" id="material_container_gem"></div>
        </div>
        <div id="p-g" class="swiper-button-prev"></div>
        <div id="n-g" class="swiper-button-next"></div>
    </div>

    <div class="wrap-materials">
        <div class="materials">
            <div class="swiper-wrapper" id="material_container"></div>
        </div>
        <div id="p" class="swiper-button-prev"></div>
        <div id="n" class="swiper-button-next"></div>
    </div>

    <span id="advise">Touch any part of the item to choose your elements metal or stone</span>

    <div id="engraving-block">
        <img id="engraving-close" src="<%= require('./src/assets/img/window-close.png') %>" alt="">
        <div class="title-engraving">Choose font engraving</div>
        <div class="font-container">
            <div class="font-type active" id="classic">
                <div class="A">A</div>
                <div class="type">Classic</div>
            </div>
            <div class="font-type" id="italic">
                <div class="A">A</div>
                <div class="type">Italy</div>
            </div>
        </div>

        <input id="engraving_input" maxlength="16" placeholder="engraving" type="text">
        <div class="btn-engraving" id="engrav">Add engraving</div>
    </div>

    <div id="gem-description">
        Cool gem for you!
    </div>

    <div class="tooltip" id="tooltip">
        Gold First-Class 18K
    </div>

    <form style="display: none" id="order-form" action="http://yii2-starter-kit.localhost:8085/order/create"
          method="post">
        <input id="order2" type="submit" value="Submit">
    </form>
</div>
</body>
</html>
