//#bcb9ba /  #b9b9b9 / #999999

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  background: #faf7f8;
  position: relative;
  //overflow: hidden;
}

.alert {
  position: absolute;
  background: #faf7f8;
  z-index: 4;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;

  div {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #a6a6a6;
    font-size: 20px;
    width: 245px;
  }
}

.swiper-container-horizontal {
  padding: 3.5% 0;
}

.swiper-button-next, .swiper-button-prev {
  outline: none !important;
  z-index: 1 !important;
  @media screen and (min-width: 800px) {
    display: none;
  }
}

.swiper-wrapper {
  @media screen and (min-width: 800px) {
    display: block !important;
  }
}


#threeJS {
  height: 100%;
  overflow: hidden;
  width: 100%;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    @media screen and (min-width: 800px) {
      left: -15%;
    }
  }

  .preloader {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: relative;
    background: white;

    .preloader-group {
      display: block;
      position: absolute;
      transform: translateX(-50%);
      top: 25%;
      left: 50%;

      .logo {
        height: 70px;
        display: block;
        margin: 0 auto;
        animation: infinite-spinning 8s infinite linear;
      }

      .logo-text {
        height: 150px;
        display: block;
      }

    }

    @media screen and (orientation: landscape) {
      .loading {
        display: none;
      }
    }

    .loading {
      height: 150px;
      position: absolute;
      transform: translateX(-50%);
      bottom: 5%;
      left: 50%;
    }
  }

  .header {
    height: 70px;
    top: 0;
    z-index: 3;
    @media screen and (max-width: 800px) {
      position: relative;
      background: white;
    }

    @media screen and (min-width: 800px) {
      .swiper-container-horizontal {
        padding: 15px 0 !important;
      }
    }

    .size-block {
      color: #d2d2d2;
      font-size: 14px;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 15px;

      @media screen and (min-width: 800px) {
        top: 52px;
        left: 230px;
        border: 1px solid #d2d2d2;
        padding: 7px 12px;
        border-radius: 20px;
        background: white;
        z-index: 1;
        font-size: 16px;
      }
    }

    #price {
      color: #888888;
      font-size: 14.4px;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      border: 1px solid #d2d2d2;
      padding: 7px 12px;
      border-radius: 20px;

      @media screen and (min-width: 800px) {
        transform: translateX(-50%);
        top: 35px;
        z-index: 1;
        font-size: 16px;
      }
    }

    #check-out {
      color: white;
      font-size: 14px;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 15px;
      background: #00ba55;;
      padding: 7px 12px;
      border-radius: 20px;

      @media screen and (min-width: 800px) {
        transform: none;
        top: 35px;
        right: 220px;
        z-index: 1;
        font-size: 16px;
      }
    }
  }

  .size-guide-img {
    position: relative;
    width: 100%;
    z-index: 2;
    display: none;

    .close-btn {
      position: absolute;
      right: 20px;
      top: 20px;
      @media screen and (min-width: 800px) {
        left: 7%;
      }
    }

    .size-guide-mob {
      width: 100%;
      @media screen and (min-width: 800px) {
        display: none;
      }
    }

    .size-guide-pc {
      width: 90%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  }

  .left-top-block {
    position: absolute;
    z-index: 1;
    font-size: 13px;
    color: #888888;
    padding-left: 15px;
    padding-top: 15px;

    @media screen and (min-width: 800px) {
      top: 0;
      font-size: 16px;
      padding-top: 29px;
      padding-left: 30px;
    }

    #size-guide {
      text-decoration: underline;

      @media screen and (min-width: 800px) {
        display: inline-block;
        margin-right: 10px;
      }
    }

    #hand {
      cursor: pointer;
      margin-top: 10px;
      text-underline: #888888;
      text-decoration: underline;
      @media screen and (min-width: 800px) {
        display: inline-block;
      }
    }

    #social {
      cursor: pointer;
      margin-top: 10px;

      @media screen and (min-width: 800px) {
        img {
          height: 29px;
        }
      }
    }

    #engraving {
      margin-top: 10px;
      font-size: 20px;
      color: #888888;
      @media screen and (min-width: 800px) {
        position: fixed;
        bottom: 43px;
        transform: translateX(-50%);
        left: 50%;
        font-size: 45px;
      }
    }

  }

  #switcher {
    display: none;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 85px;
    transform: translateX(-50%);
  }

  #handModeExit {
    display: none;
    position: absolute;
    z-index: 2;
    right: 15px;
    top: 85px;
    @media screen and (min-width: 800px) {
      right: 35px;
      img {
        height: 22px;
      }
    }
  }

  #engraving-block {
    display: none;
    background: white;
    border: 1px solid #888888;
    border-radius: 10px;
    width: 80%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    color: #888888;
    padding: 20px;
    text-align: center;
    z-index: 1;
    @media screen and (min-width: 800px) {
      width: 300px;
    }

    img {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    input {
      background: #f9f7f7;
      border: 1px solid #d3d2d2;
      border-radius: 20px;
      padding: 15px 15px;
      margin-bottom: 15px;
      width: 90%;
      text-decoration: none;
      outline: none;
    }

    .title-engraving {
      margin-bottom: 15px;
      font-size: 14px;
    }

    .btn-engraving {
      color: white;
      background: #b1b1b1;
      border-radius: 20px;
      padding: 15px 15px;
      width: 60%;
      margin: 0 auto;
      cursor: pointer;
    }

    .font-container {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;

      .font-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        width: 50px;
        border: 1px solid;
        border-radius: 10%;

        .A {
          font-size: 22px;
        }

        .type {
          font-size: 10px;
        }
      }

      #italic {
        font-style: italic;
      }
    }

    .active {
      background: #f9f7f7;
    }
  }

  #advise {
    position: absolute;
    top: 135px;
    color: #888888;
    text-align: center;
    font-size: 15px;
    width: 82%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    @media screen and (max-width: 800px) {
      top: 128px;
    }
    @media screen and (min-width: 800px) {
      font-size: 18px;
    }
  }

  .advise2 {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 150px;
    font-size: 12px;
    color: #b1b1b1;
    z-index: 1;
    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  .wrap-materials {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    padding: 0 30px;
    box-sizing: border-box;

    @media screen and (min-width: 800px) {
      top: 420px;
      bottom: auto;
      right: 65px;
      width: 400px;
      overflow: unset;

      &:before {
        content: 'Select your material';
        position: absolute;
        font-size: 15px;
        color: #888888;
        z-index: 1;
        top: -27px;
        left: 50%;
        transform: translateX(-50%);
      }
    }


    .swiper-button-next, .swiper-button-prev {
      background: none;
      border: 8px solid transparent;
      border-right: 8px solid #cccccc;
      width: 0;
      height: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .swiper-button-next {
      transform: rotate(180deg);
    }
  }

  .materials {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    @media screen and (min-width: 800px) {
      overflow: unset;
    }


    .material {
      text-align: center;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (min-width: 800px) {
        display: inline-block;
        margin-left: 16px;
        margin-bottom: 10px;
      }

      &:before {
        content: '';
        position: absolute;
        left: -100%;
        top: -100%;
        right: -100%;
        bottom: -100%;
        width: 85%;
        padding-bottom: 85%;
        height: 0;
        margin: auto;
        background: white;
        border-radius: 50%;
        border: 1px solid #888888;
        z-index: -1;
        opacity: 0;
        transform: scale(.6);
        transition: .5s;
        @media screen and (min-width: 800px) {
          bottom: -100%;
          width: 130%;
          padding-bottom: 130%;
        }
      }

      @media screen and (orientation: landscape) and (max-width: 800px) {
        &:before {
          width: 40%;
          padding-bottom: 40%;
        }
      }

      &.active {
        &:before {
          opacity: 1;
          transform: scale(1);
        }
      }

      &:hover {
        &:before {
          opacity: 1;
          transform: scale(1);
        }
      }

      span {
        font-size: 14px;
        display: block;
      }

      img {
        height: 40px;
        width: 40px;
        border-radius: 50px;
        transition: 0.5s;
      }

    }
  }

  .wrap-materials-gem {
    position: absolute;
    bottom: 75px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    padding: 0 30px;
    box-sizing: border-box;

    @media screen and (min-width: 800px) {
      position: absolute;
      bottom: auto;
      width: 400px;
      top: 150px;
      right: 65px;
      overflow: unset;

      &:before {
        content: 'Select your stone';
        position: absolute;
        font-size: 15px;
        color: #888888;
        z-index: 1;
        top: -27px;
        left: 50%;
        transform: translateX(-50%);
      }
    }


    .swiper-button-next, .swiper-button-prev {
      background: none;
      border: 8px solid transparent;
      border-right: 8px solid #cccccc;
      width: 0;
      height: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    .swiper-button-next {
      transform: rotate(180deg);
    }
  }

  .materials_gem {
    position: relative;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    @media screen and (min-width: 800px) {
      overflow: unset;
    }

    .material {
      display: inline-block;
      text-align: center;
      position: relative;
      @media screen and (min-width: 800px) {
        margin-left: 16px;
        margin-bottom: 10px;
      }


      &:before {
        content: '';
        position: absolute;
        left: -100%;
        top: -100%;
        right: -100%;
        bottom: -100%;
        width: 80%;
        padding-bottom: 80%;
        height: 0;
        margin: auto;
        background: white;
        border-radius: 50%;
        border: 1px solid #888888;
        z-index: -1;
        opacity: 0;
        transform: scale(.6);
        transition: .5s;
        @media screen and (min-width: 800px) {
          bottom: -100%;
          width: 125%;
          padding-bottom: 125%;
        }
      }


      @media screen and (orientation: landscape) and (max-width: 800px) {
        &:before {
          width: 40%;
          padding-bottom: 40%;
        }
      }

      &.active {
        &:before {
          opacity: 1;
          transform: scale(1);
        }
      }

      &:hover {
        &:before {
          opacity: 1;
          transform: scale(1);
        }
      }

      span {
        font-size: 14px;
        display: block;
      }

      img {
        height: 40px;
        width: 40px;
        border-radius: 50px;
        transition: 0.5s;
      }
    }
  }

  .parts-wrap {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
    height: 300px;
    right: 0;
    width: 100px;
    top: 85px;


    @media screen and (min-width: 800px) {
      padding: 0 30px;
      height: auto;
      right: 65px;
      width: 400px;
      top: 600px;
      overflow: unset;

      &:before {
        content: 'Select your element';
        position: absolute;
        font-size: 15px;
        color: #888888;
        z-index: 1;
        top: -17px;
        left: 50%;
        transform: translateX(-50%);
        font-weight: lighter;
      }
    }

    .swiper-button-next, .swiper-button-prev {
      background-size: 13px 44px !important;
      position: absolute;
      top: 5px;
      left: 0;
      right: -36px;
      margin: auto;
      transform: rotate(-135deg);
      width: 8px;
      height: 8px;
      border-bottom: 2px solid gray;
      border-right: 2px solid gray;
      background: none;
    }

    .swiper-button-prev {
      top: auto;
      bottom: 5px;
      transform: rotate(45deg);
    }
  }

  .homepage-link {
    img {
      height: 40px;
      margin-top: 10px;

      @media (min-width: 800px) {
        bottom: 54px;
        position: fixed;
      }

      @media screen and (max-width: 800px) {
        height: 21px;
        margin-top: 12px;
        margin-left: -4px;
      }
    }
  }

  .social-icons {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 20px 30px;
    z-index: 1;
    border-radius: 6px;

    img {
      height: 45px;
    }

    div {
      margin-top: 10px;
      display: flex;
      align-items: center;
      font-size: 13px;

      img {
        margin-right: 5px;
      }
    }

    #url_copy {
      font-size: 13px;
      display: none;
    }

    #close-social-modal {
      right: 10px;
      top: 10px;
      position: absolute;
      height: 20px;
    }

  }

  #gem-description {
    position: fixed;
    bottom: 57px;
    z-index: 1;
    right: 160px;
    width: 250px;
    font-size: 14px;
    color: #888888;
    display: none;
    @media screen and (max-width: 800px) {
      display: none !important;
    }
  }

  .tooltip {
    user-select: none;
    pointer-events: none;
    border-radius: 14px;
    opacity: 0;
    transition: opacity 0.4s;
    position: absolute;
    font-size: 13px;
    color: #888888;
    z-index: 3;
    padding: 4px 8px;
    border: 1px solid rgba(153, 153, 153, 0.4);
    background: rgba(255, 255, 255, 0.8);
    transform: translate(1000px, 0px);
  }

  .show-tool {
    opacity: 1;
    transition: opacity 0.8s;
  }

  .contact-us-modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 50px 20px 30px;
    z-index: 2;
    border-radius: 6px;
    text-align: center;
    width: 80%;
    @media screen and (min-width: 800px) {
      width: 350px;
    }

    p {
      font-size: 18px;
      font-weight: 600;
      color: #888888;
    }

    input, textarea {
      width: 80%;
      border: 1px solid #888888;
      color: #888888;
      border-radius: 4px;
      padding: 10px 5px;
      margin-bottom: 10px;
    }

    textarea {
      resize: none;
      height: 50px;
    }

    #contact-us-btn {
      color: white;
      background: #b1b1b1;
      border-radius: 20px;
      border: none;
      padding: 10px 5px;
      width: 60%;
      margin: 0 auto;
      cursor: pointer;
      outline: none;
    }

    #close-contact-modal {
      right: 10px;
      top: 10px;
      position: absolute;
      height: 15px;
    }
  }


  .slidecontainer {
    display: none;
    width: 40%; /* Width of the outside container */
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 800px) {
      width: 80%
    }

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #4CAF50;
      cursor: pointer;
    }


  }


  .parts {
    position: relative;
    overflow: hidden;
    height: 100%;
    box-sizing: border-box;
    padding-top: 12px;
    @media screen and (min-width: 800px) {
      overflow: unset;
    }


    .part {
      display: inline-block;
      text-align: center;
      margin-left: 16px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -100%;
        top: -100%;
        right: -100%;
        bottom: -74%;
        width: 60%;
        padding-bottom: 60%;
        height: 0;
        margin: auto;
        background: white;
        border-radius: 50%;
        border: 1px solid #888888;
        z-index: -1;
        opacity: 0;
        transform: scale(.6);
        transition: .5s;

        @media screen and (min-width: 800px) {
          bottom: -97%;
          width: 110%;
          padding-bottom: 110%;
        }
      }

      &.active {
        &:before {
          opacity: 1;
          transform: scale(1);
        }
      }

      &:hover {
        &:before {
          opacity: 1;
          transform: scale(1);
        }
      }

      span {
        font-size: 14px;
        display: block;
      }

      img {
        height: 45px;
        width: 45px;
        border-radius: 50px;
        transition: 0.5s;
        @media screen and (min-width: 800px) {
          height: 40px;
          width: 40px;
        }
      }
    }
  }

  #sizes-slider {
    width: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    z-index: 2;

    @media screen and (min-width: 800px) {
      display: block;
      top: 71px;
      left: 309px;
      width: 51px;
      height: 500px;
      border-radius: 24px;
      transform: none;
      overflow: hidden;
      background: rgba(255, 255, 255, 0.5);

      .swiper-wrapper {
        display: flex !important;
      }
    }

    span {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      padding: 10px;
      transition: 0.5s;
      font-size: 12px;
      color: #888888;
      @media screen and (min-width: 800px) {
        font-size: 14px;
      }
    }

    .swiper-notification {
      display: none;
    }

    span:hover {
      font-size: 13px;
      font-weight: bold;
    }

    .active {
      font-size: 13px;
      font-weight: bold;
      @media screen and (min-width: 800px) {
        font-size: 15px;
      }
    }
  }
}

.swiper-button-prev {

}

.svg-loader {
  pointer-events: none;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 0;
  animation: infinite-spinning-3d 8s infinite linear;
  z-index: 3;
}

.show-svg {
  opacity: 1;
}

@keyframes infinite-spinning {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes infinite-spinning-3d {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

.license {
  position: absolute;
  bottom: 30px;
  z-index: 5;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  font-size: 13px;
  color: #5b5b5b;
}


//// temp version
//
//.homepage-link{
//  display: none;
//}
//#social{
//  display: none;
//}
//.logo-text{
//  display: none !important;
//}
//.license{
//  display: none;
//}